
Add a Input field which updates a property ('username') via Two-Way-Binding  <br>
Output the username property via String Interpolation (in a paragraph below the input)  <br>
Output the username property via Event Binding using "$event" (Don't do this using 2 way binding). There R 2 methods of showing the same data into the para. 1st: using "$event" in event binding 2nd. 2 way binding <br>
Add a button which may only be clicked if the username is NOT an empty string  <br>
Upon clicking the button, the username should be reset to an empty string  <br>

<!-- 

Building Contact App
  3 IP fields: name, Number, email
  Below each IP, show them in the para
  Make the save btn active only if, all 3 fields are having something
  Once V submit the form, A hidden para appears with all the details uploaded by the user with suitable colors

-->

<h1> {{title}} </h1>

<!-- <input type="text" [(ngModel)]="paraText">
<p> {{paraText}} </p>

<button 
  [disabled]="paraText === ''"
  (click)="clearString()"
>On String</button> -->

<!-- <app-contact></app-contact> -->
<app-phone></app-phone>





<!-- 
  2 way binding
  Event Binding
  Property Binding

 -->