
Add a Input field which updates a property ('username') via Two-Way-Binding  <br>
Output the username property via String Interpolation (in a paragraph below the input)  <br>
Add a button which may only be clicked if the username is NOT an empty string  <br>
Upon clicking the button, the username should be reset to an empty string  <br>

<h1> {{title}} </h1>

<input type="text" [(ngModel)]="paraText">
<p> {{paraText}} </p>

<button 
  [disabled]="paraText === ''"
  (click)="clearString()"
>On String</button>


